header {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 500px;
    width: 100vw;

    background-image: url('https://local-fr-public.s3.eu-west-3.amazonaws.com/prod/webtool/userfiles/27220/f1-BOULANGERIE-PATISSERIE-GRIMAL.jpg');
    background-size: cover;
    background-position-y: center;

    align-items: center;


    nav {
        display: flex;
        flex-direction: row;
        height: 100px;
        width: 100%;
        border-radius: 20px;
        background-color: rgba(#F3E9DC, 0.9);
        align-items: center;
        padding-left: 80px;
        padding-right: 80px;

        #logo {
            svg {
                width: 48px;
                height: 48px;
                margin-right: 60px;
            }
        }

        #nav-menu {
            display: flex;
            flex: 1;

            ul {
                display: flex;
                flex-direction: row;
                line-height: 1.2;
                flex: 1;
                justify-content: space-evenly;
                align-items: center;


                li {
                    transition: transform 0.5s ease;

                    a {
                        color: black;
                        text-decoration: none;
                        font-size: 25px;
                        font-family: "Roboto", sans-serif;
                        font-weight: 400;
                        font-style: normal;
                    }

                    &:hover{
                        transform: scale(1.1);

                    }
                }
            }
        }

    }

    #about-btn {
        transition: transform 0.5s ease;
        width: 280px;
        height: 80px;
        margin-top: 100px;
        border: none;
        border-radius: 20px;
        box-shadow: 0 0 10px black;
        background-color: rgba(#290102, 0.9);
        font-size: 30px;
        font-family: "Noto Serif", serif;
        font-weight: 700;
        font-style: normal;
        color: #F3E9DC;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
        }
    }


    #nav-title {
        display: flex;
        width: fit-content;
        padding: 10px;
        height: 50px;
        text-align: center;
        color: #F3E9DC;
        font-size: 32px;
        margin-top: 100px;
        font-family: "Noto Serif", serif;
        font-weight: 700;
        font-style: normal;
        backdrop-filter: blur(40px);
        justify-content: center;
        align-items: center;
    }
}